@import "../../../../assets/theme/_var.scss";

.game_card {
    padding-top: 2rem;
    padding-bottom: 3.5rem;

    .game_inner {
        transition: 200ms ease-in-out;
        position: relative;
        border: 2px solid transparent;
        background: linear-gradient(180deg, $black, $black) padding-box, linear-gradient(180deg, #FFBA55 33.25%, #FFBA55 67.37%, #FFBA55 100%) border-box;

        .left_arrow,
        .right_arrow {
            position: absolute;
            top: 50%;
            z-index: 1;
            display: none;

            @media (max-width: 1439px) {
                width: 1.4rem;
            }
        }

        .left_arrow {
            transform: translate(-100%, -50%);
            left: 0;
        }

        .right_arrow {
            transform: translate(100%, -50%);
            right: 0;
        }

        .archery_icon {
            position: absolute;
            top: -0.5rem;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 1;

            &::after {
                content: "";
                width: 100%;
                height: 2.5px;
                background-color: $black;
                position: absolute;
                top: 2rem;
                z-index: -1;
                left: 50%;
                transform: translateX(-50%);
            }
        }

        .game_image {
            &::after {
                content: "";
                width: 100%;
                height: 100%;
                position: absolute;
                opacity: 0.8;
                top: 0;
                left: 0;
                background: linear-gradient(181deg, #000 0%, rgba(0, 0, 0, 0.2) 45.94%);
            }

            >img {
                width: 100%;
                height: 43.7rem;
                object-fit: cover;
                object-position: center;

                @media (max-width: 1679px) {
                    height: 38rem;
                }

                @media (max-width: 1365px) {
                    height: 34rem;
                }

                @media (max-width: 991px) {
                    height: 28rem;
                }

                @media (max-height: 479px) and (max-width: 1199px) {
                    height: 26rem;
                }

                @media (max-height: 419px) and (max-width: 1199px) {
                    height: 20rem;
                }
            }
        }

        .game_title {
            position: absolute;
            top: 0rem;
            height: 100%;
            padding: 3rem 1rem 0;
            left: 50%;
            transform: translateX(-50%);
            width: 100%;
            text-align: center;
            display: flex;
            flex-direction: column;

            @media (max-width: 991px) {
                padding: 02rem 0.6rem 0;
            }

            h2 {
                font-size: 2.4rem;
                font-weight: 400;
                line-height: 2.7rem;
                letter-spacing: 0.01em;
                text-align: center;
                color: $baseclr;
                filter: drop-shadow(0px 4px 4px rgba($black, 0.243));

                @media (max-width: 1679px) {
                    font-size: 2rem;
                }

                @media (max-width: 1439px) {
                    font-size: 1.8rem;
                }

                @media (max-width: 1365px) {
                    font-size: 1.6rem;
                }

                @media (max-width: 1199px) {
                    font-size: 1.4rem;
                    line-height: 2rem;
                }

                @media (max-width: 767px) {
                    font-size: 1.1rem;
                    line-height: 1.4rem;
                }
            }

            .coming_soon_img {
                margin: auto auto;
                position: relative;

                p {
                    font-size: 2rem;
                    font-weight: 400;
                    line-height: 2rem;
                    letter-spacing: 0.01em;
                    text-align: center;
                    color: $white;
                    filter: drop-shadow(0px 2px 4px #000000);
                    position: absolute;
                    top: 50%;
                    z-index: 12;
                    left: 50%;
                    transform: translate(-50%, -50%);

                    @media (max-width: 1679px) {
                        font-size: 1.6rem;
                    }

                    @media (max-width: 991px) {
                        font-size: 1.4rem;
                    }

                    @media (max-width: 767px) {
                        font-size: 1.1rem;
                        line-height: 1.5rem;
                    }
                }

                &.locked_img {
                    img {
                        max-width: 16.9rem;

                        @media (max-height: 619px) {
                            max-width: 10rem;
                        }

                        @media (max-height: 479px) {
                            max-width: 8rem;
                        }

                        @media (max-height: 419px) {
                            max-width: 6rem;
                        }
                    }
                }

                :global {
                    @keyframes rotation {
                        from {
                            transform: rotate(0);
                        }

                        to {
                            transform: rotate(360deg);
                        }
                    }
                }

                img {
                    max-width: 22rem;
                    transition: 0.5s linear;
                    width: 100%;


                    @media (max-width: 1679px) {
                        max-width: 16rem;
                    }

                    @media (max-width: 1365px) {
                        max-width: 12rem;
                    }

                    @media (max-width: 991px) {
                        max-width: 9rem;
                    }

                    @media (max-width: 767px) {
                        max-width: 8rem;
                    }
                }
            }

            &:hover {
                .coming_soon_img {
                    img {
                        animation: rotation 4s linear infinite;
                        // transform: rotate(90deg);
                    }

                    &.locked_img {
                        img {
                            animation: unset;
                            transform: scale(1.1);
                        }
                    }
                }
            }
        }

        .action_btn {
            position: absolute;
            left: 50%;
            bottom: 0;
            transform: translate(-50%, 50%);

            @media (max-width: 1679px) {
                width: 100%;
                max-width: 21rem;
                height: 5rem;
                font-size: 1.8rem;
            }

            @media (max-width: 1365px) {
                height: 5.2rem;
                font-size: 1.3rem;
            }

            @media (max-width: 1199px) {
                height: 4.5rem;
            }

            @media (max-width: 991px) {
                height: 3.1rem;
                font-size: 1.2rem;
            }

            @media (max-height: 419px) and (max-width: 767px) {
                font-size: 0.8rem;
                max-width: 8rem;
                height: 2.2rem;
            }
        }
    }

    &:hover {
        .game_inner {
            box-shadow: 0px 0px 80px 0px #FFBA554D;

            .left_arrow,
            .right_arrow {
                display: block
            }
        }
    }
}