@import "../../../../assets/theme/_var.scss";

.coming__soon,
.locked_image {
    display: block;
    width: fit-content;
    margin: 3.8rem auto 0;
}

.locked_image {
    max-width: 16.9rem;
    margin: 8.2rem auto 0;
}